.outer-table {
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 1rem;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 15px;
}

th {
    background-color: #013A20;
    text-align: center;
}

td {
    background-color: #59981A;
}