@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#root {
  background-color: #ECF87F;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  font-family: Roboto, "sans-serif";
}