.user-table {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 1rem;
    overflow-y: scroll;
}

.user-table table {
    border-collapse: collapse;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 15px;
}

th {
    background-color: #013A20;
    text-align: center;
}

td {
    background-color: #59981A;
    text-align: center;
}

.link {
    text-decoration: none;
}

.link, .link:visited, .link:hover, .link:active {
    color: inherit;
}